.description {
  margin-right: 30px;
}

.item {
  display: flex;
  align-items: center;
  min-width: 240px;
  flex-basis: calc(25% - 11px);
  padding: 10px 15px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #80c2ee;
  border-radius: 2px;
  box-shadow: 0 1px 1px hsl(0deg 0% 51% / 10%), 0 2px 4px hsl(0deg 0% 51% / 10%),
    3px 0 6px hsl(0deg 0% 51% / 10%);
  transition: transform 0.25s linear;
}

.item:hover,
.item:focus {
  transform: scale(1.025);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.06),
    3px 0px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.contact {
  margin-bottom: 5px;
}

.button {
  background-color: #047921;
  border: none;
  border-radius: 4px;
  min-width: 98px;
  min-height: 30px;
}

.button:hover {
  background-color: #122b9c;
  color: #ffffff;
}

.contactText {
  font-size: 16px;
  font-weight: 700;
}
